{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div style="margin: 20px;">
        <div class="top-right-buttons">
        <form action="{% url 'editpage' title %}">
                <button type="submit" class="btn btn-secondary">Edit</button>
        </form>
        <form action="{% url 'deletepage' title %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
        </div>
        {{ content|safe }}
    </div>
{% endblock %}